@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

Nom: @Model.UserName
<br />
<img src="~/Content/Photos/@Model.Photo" alt="Alternate Text" width="100" height="100"/>