<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @Html.Partial("_NavBar2")
    <div>
        @RenderBody()
    </div>
    <br />
    @Html.Partial("_footer2")
</body>
</html>
