@model IEnumerable<_1_DemoApi.Models.Contact>
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
        a broad range of clients, including browsers and mobile devices. ASP.NET Web API
        is an ideal platform for building RESTful applications on the .NET Framework.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Liste des contacts</h2>
        <br />
        <p><button class="btn btn-default">@Html.ActionLink("Download CSV", "CSV")</button></p>
        <table>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
            </tr>
            @foreach(var item in Model)
            {
        <tr>
            <td>@item.Nom</td>
            <td>@item.Prenom</td>
        </tr>
            }
        </table>
    </div>
    
</div>
